# Structured Data Evaluation Harness

This notebook provides an interactive interface for evaluating generated structured data against ground truth data.

## Setup

1. Ensure your data files are ready:
   - `generated_data.xlsx` or `generated_data.csv` - Your generated data
   - `ground_truth.xlsx` or `ground_truth.csv` - Your ground truth data

2. Configure the paths and column mappings below.

In [13]:
import os
from pathlib import Path
from dotenv import load_dotenv
import pandas as pd
import numpy as np
import json

from eval_harness.evaluator import StructuredDataEvaluator
from utils.create_test_data import create_test_data_files

#### Check Root Dir

In [14]:
# Get the project root directory
# This assumes the notebook is in eval_harness/ folder
# If running from a different location, adjust this path
current_dir = Path.cwd()
# Check if we're in eval_harness folder, if so go up one level
if current_dir.name == 'eval_harness':
    PROJECT_ROOT = current_dir.parent
else:
    # Otherwise assume we're in project root
    PROJECT_ROOT = current_dir

print(f"Project root: {PROJECT_ROOT}")
print(f"Current working directory: {Path.cwd()}")

Project root: /Users/attis/VS_Code_Repos/structured_data_eval_harness_boiler_plate
Current working directory: /Users/attis/VS_Code_Repos/structured_data_eval_harness_boiler_plate/eval_harness

In [15]:
# Load environment variables (from project root)
env_path = PROJECT_ROOT / ".env"
load_dotenv(env_path)

# Configuration - Option to create test data files
CREATE_TEST_DATA = False  # Set to True to generate test data files in the data/ folder

# Create test data files if requested
if CREATE_TEST_DATA:
    print("Creating test data files...")
    try:
        gen_path, gt_path = create_test_data_files(str(PROJECT_ROOT / "data"))
        print(f"\nTest data files created successfully!")
        print(f"  Generated data: {gen_path}")
        print(f"  Ground truth: {gt_path}")
    except Exception as e:
        print(f"Error creating test data files: {e}")
        print("Continuing with existing data files...")

# Configuration - Get paths from environment or use defaults
# Paths are resolved relative to project root
generated_path_env = os.getenv("GENERATED_DATA_PATH", "data/generated_data.xlsx")
ground_truth_path_env = os.getenv("GROUND_TRUTH_PATH", "data/ground_truth.xlsx")

# Resolve paths - if absolute, use as-is; if relative, resolve from project root
if os.path.isabs(generated_path_env):
    GENERATED_DATA_PATH = generated_path_env
else:
    GENERATED_DATA_PATH = str(PROJECT_ROOT / generated_path_env)

if os.path.isabs(ground_truth_path_env):
    GROUND_TRUTH_PATH = ground_truth_path_env
else:
    GROUND_TRUTH_PATH = str(PROJECT_ROOT / ground_truth_path_env)

# Verify files exist
print(f"Generated data path: {GENERATED_DATA_PATH}")
print(f"  File exists: {Path(GENERATED_DATA_PATH).exists()}")
print(f"Ground truth path: {GROUND_TRUTH_PATH}")
print(f"  File exists: {Path(GROUND_TRUTH_PATH).exists()}")

# Optional: Column mapping if column names differ
# Example: {"generated_col1": "ground_truth_col1", "generated_col2": "ground_truth_col2"}
COLUMN_MAPPING = None  # Set to dict if needed

# Match strategy: "index", "all_pairs", "truncate", or "key" (for key-based matching)
MATCH_STRATEGY = "key"  # Use "key" for matching rows by key column value

# Key column for matching rows (required when MATCH_STRATEGY="key")
# This column should exist in both datasets and contain values that can be matched
# (e.g., "key", "name", "id", "email", etc.)
KEY_COLUMN = "key"  # Change to your key column name

Generated data path: /Users/attis/VS_Code_Repos/structured_data_eval_harness_boiler_plate/data/generated_data.xlsx
  File exists: False
Ground truth path: /Users/attis/VS_Code_Repos/structured_data_eval_harness_boiler_plate/data/ground_truth.xlsx
  File exists: False

## Initialize Evaluator

In [4]:
# Initialize the evaluator
evaluator = StructuredDataEvaluator(
    generated_data_path=GENERATED_DATA_PATH,
    ground_truth_path=GROUND_TRUTH_PATH,
    column_mapping=COLUMN_MAPPING,
    match_strategy=MATCH_STRATEGY,
    key_column=KEY_COLUMN if MATCH_STRATEGY == "key" else None,
)

print(f"Loaded {len(evaluator.generated_df)} rows from generated data")
print(f"Loaded {len(evaluator.ground_truth_df)} rows from ground truth data")
print(f"Evaluating {len(evaluator.column_names)} columns: {evaluator.column_names}")
if MATCH_STRATEGY == "key" and evaluator.matched_pairs is not None:
    matched_count = sum(1 for _, gt_idx, _ in evaluator.matched_pairs if gt_idx is not None)
    print(f"Matched {matched_count} out of {len(evaluator.matched_pairs)} rows using key column '{KEY_COLUMN}'")

Loaded 5 rows from generated data
Loaded 7 rows from ground truth data
Evaluating 6 columns: ['description', 'email', 'address', 'phone', 'key', 'name']
Matched 5 out of 5 rows using key column 'key'

## Preview Data

In [5]:
# Preview generated data
print("\n=== Generated Data Preview ===")
display(evaluator.generated_df.head())

# Preview ground truth data
print("\n=== Ground Truth Data Preview ===")
display(evaluator.ground_truth_df.head())

=== Generated Data Preview ===

,key,name,email,address,phone,description
0,key_001,Alice Johnson,alice.johnson@email.com,"123 Main Street, New York, NY 10001",+1-555-0101,Software engineer with 5 years of experience
1,key_002,Bob Smith,bob.smith@email.com,"456 Oak Avenue, London, UK SW1A 1AA",+44-20-7946-0958,Marketing manager specializing in digital camp...
2,key_003,Charlie Brown,charlie.brown@email.com,"789 Pine Road, Paris, France 75001",+33-1-42-86-83-26,Data scientist working on machine learning pro...
3,key_004,Diana Prince,diana.prince@email.com,"321 Elm Street, Los Angeles, CA 90001",+1-555-0202,Product designer creating user interfaces
4,key_005,Edward Norton,edward.norton@email.com,"654 Maple Drive, Chicago, IL 60601",+1-555-0303,Business analyst focusing on data insights

=== Ground Truth Data Preview ===

,key,name,email,address,phone,description
0,key_001,Alice Johnson,alice.johnson@email.com,"123 Main St, New York, NY 10001",+1-555-0101,Software engineer with 5 years experience
1,key_002,Bob Smith,bob.smith@email.com,"456 Oak Avenue, London, UK SW1A 1AA",+44 20 7946 0958,Marketing manager specializing in digital mark...
2,key_003,Charlie Brown,charlie.brown@email.com,"789 Pine Road, Paris, France 75001",+33-1-42-86-83-26,Data scientist working on ML projects
3,key_004,Diana Prince,diana.prince@email.com,"321 Elm Street, Los Angeles, CA 90001",+1-555-0202,Product designer creating UI
4,key_005,Edward Norton,edward.norton@email.com,"654 Maple Drive, Chicago, IL 60601",+1-555-0303,Business analyst focusing on data insights

## Evaluate All Columns

This section evaluates all columns using NLP distance and similarity metrics. When using key-based matching (MATCH_STRATEGY="key"), each row in the generated dataset is matched with the corresponding row in the ground truth dataset based on the key column value. The metrics shown below represent the **average** of comparisons between matched rows for each column.

Below is a description of each metric and how it's calculated:

### Distance and Similarity Metrics

**Cosine Similarity** (`cosine_similarity` / `cosine_similarity_tfidf`)
- **Range**: 0 to 1 (higher = more similar)
- **Description**: Measures the cosine of the angle between two text vectors in a high-dimensional space. Both metrics convert texts into numerical vectors and calculate the cosine of the angle between them, but they differ in how words are weighted:
  
  - **`cosine_similarity`** (TF only): Uses **Term Frequency (TF)** vectorization. Words are weighted only by how often they appear in each text. Common words like "the", "and", "of" have the same weight as rare, meaningful words. This is simpler and treats all words equally based on frequency.
  
  - **`cosine_similarity_tfidf`** (Full TF-IDF): Uses **Term Frequency-Inverse Document Frequency (TF-IDF)** vectorization. Words are weighted by both their frequency in the text (TF) and their rarity across the corpus (IDF). Common words are downweighted, while rare, distinctive words are upweighted. This better captures semantic importance and is more robust for comparing texts with different lengths or styles.
  
  **When to use which**: 
  - Use `cosine_similarity` (TF) when you want simple word frequency matching without penalizing common words
  - Use `cosine_similarity_tfidf` when you want to emphasize distinctive, meaningful words and reduce the impact of common stop words

- **Derivation**: `cosine_similarity = (A · B) / (||A|| × ||B||)` where A and B are text vectors (TF or TF-IDF weighted)

**Levenshtein Distance** (`levenshtein_distance`)
- **Range**: 0 to ∞ (lower = more similar)
- **Description**: Also known as edit distance, this measures the minimum number of single-character edits (insertions, deletions, or substitutions) required to transform one string into another. Lower values indicate more similar texts.
- **Derivation**: Calculated using dynamic programming to find the minimum edit operations needed

**Edit Distance** (`edit_distance` / `edit_distance_normalized`)
- **Range**: 
  - Raw: 0 to ∞ (lower = more similar)
  - Normalized: 0 to 1 (lower = more similar)
- **Description**: Same as Levenshtein distance, but the normalized version divides by the maximum length of the two strings to provide a scale-independent measure between 0 and 1.
- **Derivation**: `normalized_edit_distance = levenshtein_distance / max(len(text1), len(text2))`

**Jaccard Similarity** (`jaccard_similarity_unigram` / `jaccard_similarity_bigram`)
- **Range**: 0 to 1 (higher = more similar)
- **Description**: Measures similarity as the size of the intersection divided by the size of the union of two sets. 
  - **Unigram**: Compares sets of individual words
  - **Bigram**: Compares sets of character pairs (2-character sequences)
- **Derivation**: `jaccard_similarity = |A ∩ B| / |A ∪ B|` where A and B are sets of n-grams

### Interpretation Tips

- **High cosine similarity** (>0.8): Texts are semantically similar, even if worded differently
- **Low Levenshtein/edit distance**: Texts are character-by-character similar (good for detecting typos)
- **High Jaccard similarity**: Texts share many common words or character sequences
- **Combined metrics**: Using multiple metrics together provides a more robust evaluation, as each captures different aspects of text similarity

In [6]:
# Evaluate all columns with all metrics
results = evaluator.evaluate_all_columns()

# Display summary report
summary_df = evaluator.get_summary_report(results)
display(summary_df)

,column,num_comparisons,cosine_similarity,cosine_similarity_tfidf,levenshtein_distance,edit_distance,edit_distance_normalized,jaccard_similarity_unigram,jaccard_similarity_bigram
0,description,5,0.861557,0.788433,8.0,8.0,0.164740,0.796429,0.875585
1,email,5,1.000000,1.000000,0.0,0.0,0.000000,1.000000,1.000000
2,address,5,0.971429,0.950464,0.8,0.8,0.022857,0.950000,0.974194
3,phone,5,1.000000,1.000000,0.6,0.6,0.037500,0.800000,0.885714
4,key,5,1.000000,1.000000,0.0,0.0,0.000000,1.000000,1.000000
5,name,5,1.000000,1.000000,0.0,0.0,0.000000,1.000000,1.000000

## Evaluate Specific Column

In [7]:
# Evaluate a specific column
column_name = evaluator.column_names[0]  # Change to your column name

column_results = evaluator.evaluate_column(column_name)

print(f"\n=== Results for column: {column_name} ===")
print(f"Number of comparisons: {column_results['num_comparisons']}")
print("\nMetrics:")
for metric_name, metric_stats in column_results.items():
    if metric_name not in ["column_name", "num_comparisons"]:
        if isinstance(metric_stats, dict):
            print(f"\n{metric_name}:")
            for stat_name, stat_value in metric_stats.items():
                print(f"  {stat_name}: {stat_value:.4f}")
        else:
            print(f"{metric_name}: {metric_stats}")

=== Results for column: description ===
Number of comparisons: 5

Metrics:

cosine_similarity:
  mean: 0.8616
  std: 0.1221
  min: 0.6708
  max: 1.0000
  median: 0.9129

cosine_similarity_tfidf:
  mean: 0.7884
  std: 0.1880
  min: 0.5101
  max: 1.0000
  median: 0.8466

levenshtein_distance:
  mean: 8.0000
  std: 5.5498
  min: 0.0000
  max: 14.0000
  median: 10.0000

edit_distance:
  mean: 8.0000
  std: 5.5498
  min: 0.0000
  max: 14.0000
  median: 10.0000

edit_distance_normalized:
  mean: 0.1647
  std: 0.1198
  min: 0.0000
  max: 0.3171
  median: 0.1639

jaccard_similarity_unigram:
  mean: 0.7964
  std: 0.2019
  min: 0.5000
  max: 1.0000
  median: 0.8571

jaccard_similarity_bigram:
  mean: 0.8756
  std: 0.1324
  min: 0.7083
  max: 1.0000
  median: 0.9474

## Evaluate with Specific Metrics

In [8]:
# Evaluate with only specific metrics
specific_metrics = ["cosine_similarity", "edit_distance", "jaccard_similarity"]

results_specific = evaluator.evaluate_all_columns(metrics=specific_metrics)
summary_specific = evaluator.get_summary_report(results_specific)

display(summary_specific)

,column,num_comparisons,cosine_similarity,edit_distance,jaccard_similarity
0,description,5,0.788433,0.164740,0.796429
1,email,5,1.000000,0.000000,1.000000
2,address,5,0.950464,0.022857,0.950000
3,phone,5,1.000000,0.037500,0.800000
4,key,5,1.000000,0.000000,1.000000
5,name,5,1.000000,0.000000,1.000000

## Detailed Analysis

In [9]:
# Get detailed results
print("\n=== Detailed Results ===")
print(json.dumps(results, indent=2, default=str))

=== Detailed Results ===
{
  "description": {
    "column_name": "description",
    "num_comparisons": 5,
    "cosine_similarity": {
      "mean": 0.8615574833302709,
      "std": 0.1221248136677287,
      "min": 0.670820393249937,
      "max": 1.0000000000000002,
      "median": 0.912870929175277
    },
    "cosine_similarity_tfidf": {
      "mean": 0.7884332351488921,
      "std": 0.18802133044883623,
      "min": 0.5101490193104813,
      "max": 1.0000000000000002,
      "median": 0.8466473536503037
    },
    "levenshtein_distance": {
      "mean": 8.0,
      "std": 5.549774770204643,
      "min": 0.0,
      "max": 14.0,
      "median": 10.0
    },
    "edit_distance": {
      "mean": 8.0,
      "std": 5.549774770204643,
      "min": 0.0,
      "max": 14.0,
      "median": 10.0
    },
    "edit_distance_normalized": {
      "mean": 0.16473984381292048,
      "std": 0.11976493959683353,
      "min": 0.0,
      "max": 0.3170731707317073,
      "median": 0.16393442622950818
    },
    "jaccard_similarity_unigram": {
      "mean": 0.7964285714285715,
      "std": 0.20190420035860815,
      "min": 0.5,
      "max": 1.0,
      "median": 0.8571428571428571
    },
    "jaccard_similarity_bigram": {
      "mean": 0.8755847953216375,
      "std": 0.1323663896903619,
      "min": 0.7083333333333334,
      "max": 1.0,
      "median": 0.9473684210526315
    }
  },
  "email": {
    "column_name": "email",
    "num_comparisons": 5,
    "cosine_similarity": {
      "mean": 1.0,
      "std": 0.0,
      "min": 1.0,
      "max": 1.0,
      "median": 1.0
    },
    "cosine_similarity_tfidf": {
      "mean": 1.0,
      "std": 0.0,
      "min": 1.0,
      "max": 1.0,
      "median": 1.0
    },
    "levenshtein_distance": {
      "mean": 0.0,
      "std": 0.0,
      "min": 0.0,
      "max": 0.0,
      "median": 0.0
    },
    "edit_distance": {
      "mean": 0.0,
      "std": 0.0,
      "min": 0.0,
      "max": 0.0,
      "median": 0.0
    },
    "edit_distance_normalized": {
      "mean": 0.0,
      "std": 0.0,
      "min": 0.0,
      "max": 0.0,
      "median": 0.0
    },
    "jaccard_similarity_unigram": {
      "mean": 1.0,
      "std": 0.0,
      "min": 1.0,
      "max": 1.0,
      "median": 1.0
    },
    "jaccard_similarity_bigram": {
      "mean": 1.0,
      "std": 0.0,
      "min": 1.0,
      "max": 1.0,
      "median": 1.0
    }
  },
  "address": {
    "column_name": "address",
    "num_comparisons": 5,
    "cosine_similarity": {
      "mean": 0.9714285714285719,
      "std": 0.05714285714285712,
      "min": 0.8571428571428575,
      "max": 1.0000000000000004,
      "median": 1.0000000000000002
    },
    "cosine_similarity_tfidf": {
      "mean": 0.9504639523978005,
      "std": 0.09907209520439957,
      "min": 0.7523197619890014,
      "max": 1.0000000000000004,
      "median": 1.0000000000000002
    },
    "levenshtein_distance": {
      "mean": 0.8,
      "std": 1.6000000000000003,
      "min": 0.0,
      "max": 4.0,
      "median": 0.0
    },
    "edit_distance": {
      "mean": 0.8,
      "std": 1.6000000000000003,
      "min": 0.0,
      "max": 4.0,
      "median": 0.0
    },
    "edit_distance_normalized": {
      "mean": 0.022857142857142857,
      "std": 0.045714285714285714,
      "min": 0.0,
      "max": 0.11428571428571428,
      "median": 0.0
    },
    "jaccard_similarity_unigram": {
      "mean": 0.95,
      "std": 0.09999999999999999,
      "min": 0.75,
      "max": 1.0,
      "median": 1.0
    },
    "jaccard_similarity_bigram": {
      "mean": 0.9741935483870968,
      "std": 0.05161290322580645,
      "min": 0.8709677419354839,
      "max": 1.0,
      "median": 1.0
    }
  },
  "phone": {
    "column_name": "phone",
    "num_comparisons": 5,
    "cosine_similarity": {
      "mean": 1.0,
      "std": 1.9860273225978183e-16,
      "min": 1.0,
      "max": 1.0000000000000002,
      "median": 1.0000000000000002
    },
    "cosine_similarity_tfidf": {
      "mean": 1.0,
      "std": 1.9860273225978183e-16,
      "min": 1.0,
      "max": 1.0000000000000002,
      "median": 1.0000000000000002
    },
    "levenshtein_distance": {
      "mean": 0.6,
      "std": 1.2000000000000002,
      "min": 0.0,
      "max": 3.0,
      "median": 0.0
    },
    "edit_distance": {
      "mean": 0.6,
      "std": 1.2000000000000002,
      "min": 0.0,
      "max": 3.0,
      "median": 0.0
    },
    "edit_distance_normalized": {
      "mean": 0.0375,
      "std": 0.07500000000000001,
      "min": 0.0,
      "max": 0.1875,
      "median": 0.0
    },
    "jaccard_similarity_unigram": {
      "mean": 0.8,
      "std": 0.4000000000000001,
      "min": 0.0,
      "max": 1.0,
      "median": 1.0
    },
    "jaccard_similarity_bigram": {
      "mean": 0.8857142857142858,
      "std": 0.22857142857142856,
      "min": 0.42857142857142855,
      "max": 1.0,
      "median": 1.0
    }
  },
  "key": {
    "column_name": "key",
    "num_comparisons": 5,
    "cosine_similarity": {
      "mean": 1.0,
      "std": 0.0,
      "min": 1.0,
      "max": 1.0,
      "median": 1.0
    },
    "cosine_similarity_tfidf": {
      "mean": 1.0,
      "std": 0.0,
      "min": 1.0,
      "max": 1.0,
      "median": 1.0
    },
    "levenshtein_distance": {
      "mean": 0.0,
      "std": 0.0,
      "min": 0.0,
      "max": 0.0,
      "median": 0.0
    },
    "edit_distance": {
      "mean": 0.0,
      "std": 0.0,
      "min": 0.0,
      "max": 0.0,
      "median": 0.0
    },
    "edit_distance_normalized": {
      "mean": 0.0,
      "std": 0.0,
      "min": 0.0,
      "max": 0.0,
      "median": 0.0
    },
    "jaccard_similarity_unigram": {
      "mean": 1.0,
      "std": 0.0,
      "min": 1.0,
      "max": 1.0,
      "median": 1.0
    },
    "jaccard_similarity_bigram": {
      "mean": 1.0,
      "std": 0.0,
      "min": 1.0,
      "max": 1.0,
      "median": 1.0
    }
  },
  "name": {
    "column_name": "name",
    "num_comparisons": 5,
    "cosine_similarity": {
      "mean": 1.0000000000000002,
      "std": 0.0,
      "min": 1.0000000000000002,
      "max": 1.0000000000000002,
      "median": 1.0000000000000002
    },
    "cosine_similarity_tfidf": {
      "mean": 1.0000000000000002,
      "std": 0.0,
      "min": 1.0000000000000002,
      "max": 1.0000000000000002,
      "median": 1.0000000000000002
    },
    "levenshtein_distance": {
      "mean": 0.0,
      "std": 0.0,
      "min": 0.0,
      "max": 0.0,
      "median": 0.0
    },
    "edit_distance": {
      "mean": 0.0,
      "std": 0.0,
      "min": 0.0,
      "max": 0.0,
      "median": 0.0
    },
    "edit_distance_normalized": {
      "mean": 0.0,
      "std": 0.0,
      "min": 0.0,
      "max": 0.0,
      "median": 0.0
    },
    "jaccard_similarity_unigram": {
      "mean": 1.0,
      "std": 0.0,
      "min": 1.0,
      "max": 1.0,
      "median": 1.0
    },
    "jaccard_similarity_bigram": {
      "mean": 1.0,
      "std": 0.0,
      "min": 1.0,
      "max": 1.0,
      "median": 1.0
    }
  },
  "overall": {
    "num_columns": 6,
    "total_comparisons": 30,
    "edit_distance": {
      "mean": 1.5666666666666667,
      "std": 2.8946310453819306,
      "min": 0.0,
      "max": 8.0
    },
    "cosine_similarity": {
      "mean": 0.9721643424598071,
      "std": 0.05055313041459626,
      "min": 0.8615574833302709,
      "max": 1.0000000000000002
    },
    "edit_distance_normalized": {
      "mean": 0.037516164445010554,
      "std": 0.058627552611246456,
      "min": 0.0,
      "max": 0.16473984381292048
    },
    "jaccard_similarity_unigram": {
      "mean": 0.924404761904762,
      "std": 0.09097022076349838,
      "min": 0.7964285714285715,
      "max": 1.0
    },
    "jaccard_similarity_bigram": {
      "mean": 0.9559154382371698,
      "std": 0.05407656466356942,
      "min": 0.8755847953216375,
      "max": 1.0
    },
    "levenshtein_distance": {
      "mean": 1.5666666666666667,
      "std": 2.8946310453819306,
      "min": 0.0,
      "max": 8.0
    },
    "cosine_similarity_tfidf": {
      "mean": 0.9564828645911154,
      "std": 0.07730013966830873,
      "min": 0.7884332351488921,
      "max": 1.0000000000000002
    }
  }
}

## Key-Matched Row Comparison Analysis

This section shows comparisons between matched rows based on the key column. Each row in the generated dataset is matched with the corresponding row in the ground truth dataset that has the same key value. The metrics shown are calculated only for these matched pairs, and column-level metrics represent the average across all matched pairs.

In [10]:
# Select the column to analyze
# Change this to any column name from evaluator.column_names
SELECTED_COLUMN = "name"  # Options: name, email, address, phone, description

# Verify column exists
if SELECTED_COLUMN not in evaluator.column_names:
    print(f"Error: Column '{SELECTED_COLUMN}' not found.")
    print(f"Available columns: {evaluator.column_names}")
else:
    print(f"Selected column: {SELECTED_COLUMN}")
    print(f"Generated values: {len(evaluator.aligned_generated[SELECTED_COLUMN])}")
    print(f"Ground truth values: {len(evaluator.aligned_ground_truth[SELECTED_COLUMN])}")

Selected column: name
Generated values: 5
Ground truth values: 7

In [11]:
# Get matched comparisons for the selected column
if evaluator.match_strategy == "key" and SELECTED_COLUMN in evaluator.column_names:
    matched_df = evaluator.get_matched_comparisons(SELECTED_COLUMN)
    
    if len(matched_df) > 0:
        print(f"\n=== Matched Row Comparisons for Column: {SELECTED_COLUMN} ===")
        print(f"Total matched pairs: {len(matched_df)}\n")
        display(matched_df)
        
        # Calculate and display average metrics for this column
        print(f"\n=== Average Metrics for Column: {SELECTED_COLUMN} ===")
        metric_cols = [col for col in matched_df.columns if col not in 
                       ["key", "generated_index", "generated_value", "ground_truth_index", "ground_truth_value"]]
        
        avg_metrics = {}
        for metric in metric_cols:
            avg_metrics[metric] = matched_df[metric].mean()
        
        avg_df = pd.DataFrame([avg_metrics]).T
        avg_df.columns = ["average"]
        avg_df = avg_df.sort_values("average", ascending=False)
        display(avg_df)
        
        print(f"\nNote: These averages represent the mean similarity/distance metrics")
        print(f"across all {len(matched_df)} matched rows (based on key column '{evaluator.key_column}').")
    else:
        print(f"No matched pairs found for column '{SELECTED_COLUMN}'.")
        print("This may indicate that no rows in the generated data matched with ground truth rows.")
else:
    print("Please ensure key-based matching is enabled and column is valid.")

=== Matched Row Comparisons for Column: name ===
Total matched pairs: 5

,key,generated_index,generated_value,ground_truth_index,ground_truth_value,cosine_similarity,cosine_similarity_tfidf,levenshtein_distance,edit_distance,edit_distance_normalized,jaccard_similarity_unigram,jaccard_similarity_bigram
0,key_001,0,Alice Johnson,0,Alice Johnson,1.0,1.0,0,0.0,0.0,1.0,1.0
1,key_002,1,Bob Smith,1,Bob Smith,1.0,1.0,0,0.0,0.0,1.0,1.0
2,key_003,2,Charlie Brown,2,Charlie Brown,1.0,1.0,0,0.0,0.0,1.0,1.0
3,key_004,3,Diana Prince,3,Diana Prince,1.0,1.0,0,0.0,0.0,1.0,1.0
4,key_005,4,Edward Norton,4,Edward Norton,1.0,1.0,0,0.0,0.0,1.0,1.0

=== Average Metrics for Column: name ===

                            average
cosine_similarity               1.0
cosine_similarity_tfidf         1.0
jaccard_similarity_bigram       1.0
jaccard_similarity_unigram      1.0
levenshtein_distance            0.0
edit_distance_normalized        0.0
edit_distance                   0.0

Note: These averages represent the mean similarity/distance metrics
across all 5 matched rows (based on key column 'key').

## Export Results

In [12]:
# Export summary to CSV
output_path = "evaluation_results.csv"
summary_df.to_csv(output_path, index=False)
print(f"Results exported to {output_path}")

Results exported to evaluation_results.csv